@use "../styles/partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Variable", sans-serif;
  height: 100vh;
  overflow: hidden;
  & > div {
    overflow: auto;
    height: 100%;
  }
}

ul,
ol,
menu {
  list-style: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

// button,
// .btn-primary {
//   cursor: pointer;
//   background-color: $primary;
//   padding: 8px;
//   border-radius: 6px;
//   border: none;
//   outline: none;
//   transition: 200ms all;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &:hover {
//     background-color: $primary-hover;
//   }
// }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}
